<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/2635296004.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/Homemodule/Videomode.js"></script>

    <link rel="stylesheet" href="/css/Homemodule/videomode.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <title><%=page%></title>
    <base href="/" />
  </head>

  <body>
    <div class="container">
      <div class="previousdiv">
        <img
          src="/img/previousvideo.svg"
          alt=""
          class="previousvideo allicons"
          onclick="toPrevVideo()"
        />
      </div>
      <div class="row">
        <div class="col-2 backdiv">
          <i
            onclick="window.location.href='/library'"
            class="fas fa-arrow-left back allicons"
          ></i>
        </div>
        <div class="col-8 challengediv">
          
            <p class="videoRank">#1/15</p>
          
          <h6 class="challengeName">Challenge Name</h6>
          <div class="challengesubtitle">
            <p>Challenge details</p>
          </div>
        </div>
        <div class="col-2 infodiv" onclick="iButton()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 172 172"
            style="fill: #000000"
            class="infoicon"
          >
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
              class="allicons"
            >
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#ffffff">
                <path
                  d="M86,6.88c-43.65603,0 -79.12,35.46397 -79.12,79.12c0,43.65603 35.46397,79.12 79.12,79.12c43.65603,0 79.12,-35.46397 79.12,-79.12c0,-43.65603 -35.46397,-79.12 -79.12,-79.12zM86,13.76c39.93779,0 72.24,32.30221 72.24,72.24c0,39.93779 -32.30221,72.24 -72.24,72.24c-39.93779,0 -72.24,-32.30221 -72.24,-72.24c0,-39.93779 32.30221,-72.24 72.24,-72.24zM86,37.84c-5.69958,0 -10.32,4.62042 -10.32,10.32c0,5.69958 4.62042,10.32 10.32,10.32c5.69958,0 10.32,-4.62042 10.32,-10.32c0,-5.69958 -4.62042,-10.32 -10.32,-10.32zM72.24,72.24v6.88h3.44h3.44v44.72h-3.44h-3.44v6.88h3.44h3.44h13.76h3.44h3.44v-6.88h-3.44h-3.44v-51.6h-3.44h-13.76z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <div class="videoelements">
        <video class="myvideo" onclick="pauseAndplayVideo()">
          <source src="/video/sample" type="video/mp4" />
        </video>

        <div id="playicon" class="col-12">
          <img
            src="/img/Play.svg"
            width="24"
            height="24"
            id="videoplay"
            onclick="playVideo()"
          />
        </div>

        <div class="d-flex flex-column bd-highlight activity">
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Share.svg"
                width="45"
                height="40"
                alt=""
                class="share activityicons allicons"
                onclick="countShares()"
              />
            </div>
            <%let share = 25%>
            <div class="number">
              <span><%=share%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Comments.svg"
                width="45"
                height="40"
                alt=""
                class="comment activityicons allicons"
                onclick="countComments()"
              />
            </div>
            <%let comments = 18%>
            <div class="number">
              <span><%=comments%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Upvote.svg"
                width="45"
                height="40"
                alt=""
                class="like activityicons allicons"
                onclick="countLikes()"
              />
            </div>
            <%let like = 100%>
            <div class="number">
              <span><%=like%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Downvote.svg"
                width="45"
                height="40"
                alt=""
                class="dislike activityicons allicons"
                onclick="countDislikes()"
              />
            </div>
            <%let dislike = 2%>
            <div class="number">
              <span><%=dislike%></span>
            </div>
          </div>
        </div>
      </div>

      <div class="joinclashdiv">
        <div class="joinclash">
          <img
            src="/img/Plus Icon.svg"
            alt=""
            width="58"
            height="58"
            class="joinicon allicons"
            onclick="joinClash()"
          />
        </div>

        <div class="joinclashtxt">Join Clash</div>
      </div>

      <div class="embedicons">
        <div class="progress">
          <div class="progress-bar bg-white"></div>
        </div>
        <div class="videoicons">
          <img
            src="/img/Pause.svg"
            alt=""
            width="22"
            height="22"
            class="pause allicons"
            onclick="pauseVideo()"
          />
          <img
            src="/img/Play.svg"
            alt=""
            width="22"
            height="22"
            class="play allicons"
            onclick="playVideo()"
          />
        </div>
      </div>

      <div class="nextdiv">
        <img
          src="/img/nextvideo.svg"
          alt=""
          class="nextvideo allicons"
          onclick="toNextVideo()"
        />
      </div>
    </div>
  </body>
</html>
