<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/2635296004.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/Homemodule/videomodeprivate.js"></script>

    <link rel="stylesheet" href="/css/Homemodule/videomodeprivate.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <title><%=page%></title>
    <base href="/" />
    <link rel="shortcut icon" href="#">
  </head>

  <body>
    <div class="container">
      <div class="previousdiv">
        <img
          src="/img/previousvideo.svg"
          alt=""
          class="previousvideo allicons"
          onclick="toPrevVideo()"
        />
      </div>
      <div class="row">
        <div class="col-2 backdiv">
          <i
            onclick="window.location.href='/home/homefeed'"
            class="fas fa-arrow-left back allicons"
          ></i>
        </div>
        <div class="col-8 challengediv">
          
            <p class="videoRank">#1/15</p>
          
          <h6 class="challengeName">Challenge Name</h6>
          <div class="challengesubtitle">
            <p>Challenge details</p>
          </div>
        </div>
        <div class="infodiv" onclick="info()">
          <img src="/img/infobtn.png" alt="info" style="width:20px">
        </div>
      </div>

      <div class="videoelements">
        <video class="myvideo" onclick="pauseAndplayVideo()">
          <source src="/video/sample.mp4" type="video/mp4" />
        </video>

        <div class="d-flex flex-column bd-highlight activity">
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Share.svg"
                width="45"
                height="40"
                alt=""
                class="share activityicons allicons"
                onclick="countShares()"
              />
            </div>
            <%let share = 25%>
            <div class="number">
              <span><%=share%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Comments.svg"
                width="45"
                height="40"
                alt=""
                class="comment activityicons allicons"
                onclick="countComments()"
              />
            </div>
            <%let comments = 18%>
            <div class="number">
              <span><%=comments%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Upvote.svg"
                width="45"
                height="40"
                alt=""
                class="like activityicons allicons"
                onclick="countLikes()"
              />
            </div>
            <%let like = 100%>
            <div class="number">
              <span><%=like%></span>
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <div>
              <img
                src="/img/Downvote.svg"
                width="45"
                height="40"
                alt=""
                class="dislike activityicons allicons"
                onclick="countDislikes()"
              />
            </div>
            <%let dislike = 2%>
            <div class="number">
              <span><%=dislike%></span>
            </div>
          </div>
        </div>
      </div>


      <div class="embedicons">
        <div class="videoicons">
          <img
            src="/img/Pause.svg"
            alt=""
            width="22"
            height="22"
            class="pause allicons"
            onclick="pauseVideo()"
          />
          <img
            src="/img/Play.svg"
            alt=""
            width="22"
            height="22"
            class="play allicons"
            onclick="playVideo()"
          />
        </div>
      </div>

      <div class="nextdiv">
        <img
          src="/img/nextvideo.svg"
          alt=""
          class="nextvideo allicons"
          onclick="toNextVideo()"
        />
      </div>
    </div>
  </body>
</html>
