<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Participants</title>

    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/css/Profilemodule/profile.css">  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
    <link rel="stylesheet" href="/css/createclashmodule/addParticipants.css">
</head>

<body>
    <div class="head">
        <div id="backdiv">
            <span onclick="deleteClash()" class="iconify" data-inline="false" data-icon="eva:close-fill" style="font-size: 30px;"></span>
        </div>

        <div id="headdiv">
            <p id="heading">Add Participants</p>
        </div>
    </div>

    <div class="container" style="margin-bottom: 5.5rem !important;">
        <div class="choose-friends container" style="margin-top: 5em;">
            <div class="row justify-content-center" style="flex-direction: column; align-items: center;">
                <div class="col-md-6 searchBarContainer">
                    <h6 class="choose-friend-headline">Choose Friends to add:</h6>
                    <input type="text" class="form-control my-3 invitation-bar" placeholder="Username/Email">
                    <div style="display: flex; justify-content: flex-end; margin-top: 1em;" class="searchButton">
                        <button  onclick="sendRequest(this)"> Send </button>
                    </div>
                </div>
                <br>
                <div class="col-md-6 searchResultsContainer removeMe">
                    <div class="searchResults">
                        <ul class="searchResults-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="followers">
            <div class="headingsRow">
                <% if (followerDetails.length > 0) { %>
                    <div >
                        <h6>Your Followers</h6>
                    </div>
                    <div>
                        <a href="#" data-target="#see-all" style="color: #7a7a7a; text-decoration: none; font-size: 0.9rem;">
                            See all &nbsp;<i class="fas fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                <% } %>
            </div>
            <div class="body">
                <% if (followerDetails.length > 0) { %>
                    <% for(var i=0; i<count; i++){ %>
                        <% if (followerDetails[i].value !== null) { %>
                            <div data-select= ".selected" onclick="select(this)" id=<%= followerDetails[i].value.username %> class="row"">
                                <div class="col-3">
                                    <img src="/image/<%= followerDetails[i].value.profilePic %>" alt="profile pic" class="suggested-profile">
                                </div>
                                <div class="col-6">
                                    <div class="user-info">
                                        <p><%= followerDetails[i].value.username %></p>
                                    </div>
                                </div>
                                <div class="col-3 selected">
                                    <i class="far fa-check-square"></i>
                                </div>
                            </div>
                        <%} else { %>
                            <span> </span>
                        <% } %>
                    <% } %>
                <%} else { %>
                    <h6 style="text-align: center; margin-top: 4rem;">No Followers</h6>
                <% } %>
            </div>
        </div>

        <% if (followerDetails.length > 0) { %>
            <div class="continue-btn">
                <button onclick="Continue(this)">Continue</button>
            </div>
        <% } else { %>
            <div class="continue-btn">
                <button onclick="ContinueWithoutAddingFollowers(this)">Continue</button>
            </div>
        <% } %>

        <!-- POPUPS -->
        <div class="popup" id="see-all">
            <div class="popup-header">
                <button data-close-button class="close-button">&times;</button>
                <div class="select-followers">
                    <div class="follower-title">Your Followers</div>
                    <button id="select-all" class="select-all" onclick="selectAll()">Select All</button>
                </div>
            </div>
            <div class="popup-body">
                <% if (followerDetails.length > 0) { %>
                    <% for(var i=0; i<followerDetails.length; i++){ %>
                        <% if (followerDetails[i].value !== null) { %>
                            <div data-select= ".selected" onclick="select(this)" id=<%= followerDetails[i].value.username %> class="row"">
                                <div class="col-3">
                                    <img src="/image/<%= followerDetails[i].value.profilePic %>" alt="profile pic" class="suggested-profile">
                                </div>
                                <div class="col-6">
                                    <div class="user-info">
                                        <p><%= followerDetails[i].value.username %></p>
                                    </div>
                                </div>
                                <div class="col-3 selected">
                                    <i class="far fa-check-square"></i>
                                </div>
                            </div>
                        <%} else { %>
                            <span> </span>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div id="overlay"> </div>
    </div>

    <%- include("../BottomNavmodule/bottomnavbar") %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/createclashmodule/addParticipants.js"></script>
</body>

</html>