<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Settings</title>

    <script
      src="https://kit.fontawesome.com/2635296004.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/Careermodule/admincontrols.css" />
    <link rel="stylesheet" href="/css/Careermodule/careerPopup.css">    
  </head>

  <body>
    <script>
      const ongoingClashes = JSON.parse('<%- JSON.stringify(ongoingClashes) %>');
      const ongoingVideos = JSON.parse('<%- JSON.stringify(ongoingVideos) %>');
      const ongoingParticipantsList = JSON.parse('<%- JSON.stringify(ongoingParticipantsList) %>');
      const prevClashes = JSON.parse('<%- JSON.stringify(prevClashes) %>');
      const prevVideos = JSON.parse('<%- JSON.stringify(prevVideos) %>');
      const prevParticipantsList = JSON.parse('<%- JSON.stringify(prevParticipantsList) %>');
    </script>
    <div class="head">
      <div id="backdiv">
        <span onclick="window.location.href='/'" class="iconify" data-inline="false" data-icon="eva:arrow-back-outline" style="font-size: 30px;"></span>

      </div>

      <div id="headdiv">
        <h1 id="heading">Administrator Settings</h1>
      </div>
    </div>

    <div class="container" style="margin-bottom: 4em; padding-left:0;">
      <hr />
      <!-- Ongoing Clashes -->
      <div class="div1">
        <p id="play">Ongoing Clashes</p>
      </div>
      <% if(!ongoingClashes.length){ %>
        <p style="display: flex; justify-content: center; margin-top: 10px;">Their are no on-going clashes right now.</p>
      <% } else { %>
        <% ongoingClashes.forEach((clash, index) => { %>
          <div class="row">
            <div class="col-3 challenge1">
              <p class="p1 btn btn-success" onclick="challenge(this, parseInt('<%= index+1 %>'), ongoingClashes, ongoingVideos, ongoingParticipantsList, prevClashes, prevVideos, prevParticipantsList)" data-target="#popup">
                <%= clash.title %> 
              </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
              <p class="p3">
                Created on: <%= new Date(clash.startDate).toDateString() %> 
                <span class="iconify down-arrow" data-inline="false" data-icon="bx:bx-chevron-down" 
                  onclick="challenge(this, parseInt('<%= index+1 %>'), ongoingClashes, ongoingVideos, ongoingParticipantsList, prevClashes, prevVideos, prevParticipantsList)">
                </span>
              </p>
              <p class="p3">Participants: <%= clash.participants.length %> </p>
              <p class="p3">Clash till: <%= new Date(clash.endDate).toDateString() %></p>
            </div>
          </div>
          <div id="song-details-<%= index + 1 %>"></div>
          <div id="suggest-popup-<%= index + 1 %>"></div>
          <% if(ongoingClashes.length - 1 !== index){ %>
            <br />
          <% } %> 
        <% }) %>
      <% } %> 
      <hr>

      <!-- Previous Clashes -->
      <div class="div1">
        <p id="play">Previous Clashes</p>
      </div>
      <% if(!prevClashes.length){ %>
        <p style="display: flex; justify-content: center; margin-top: 10px;">Their are no previous clashes right now.</p>
      <% } else { %>
        <% prevClashes.forEach((clash, index) => { %>
          <% let i = ongoingClashes.length + index %> 
          <div class="row">
            <div class="col-3 challenge1">
              <p class="p1 btn btn-success" onclick="challenge(this, parseInt('<%= i+1 %>'), ongoingClashes, ongoingVideos, ongoingParticipantsList, prevClashes, prevVideos, prevParticipantsList)" data-target="#popup">
                <%= clash.title %> 
              </p>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
              <p class="p3">
                Created on: <%= new Date(clash.startDate).toDateString() %> 
                <span class="iconify down-arrow" data-inline="false" data-icon="bx:bx-chevron-down" onclick="challenge(this, parseInt('<%= i+1 %>'), ongoingClashes, ongoingVideos, ongoingParticipantsList, prevClashes, prevVideos, prevParticipantsList)"></span>
              </p>
              <p class="p3">Participants: <%= clash.participants.length %> </p>
              <p class="p3">Clash till: <%= new Date(clash.endDate).toDateString() %></p>
            </div>
          </div>
          <div id="song-details-<%= i + 1 %>"></div>
          <div id="suggest-popup-<%= i + 1 %>"></div>
          <br />
        <% }) %> 
      <% } %> 
    </div>
    <!-- POPUP FOR ADDING FRIENDS -->
    
    <!-- POPUP SECTION -->
    <div class="career-popup" id="add-friends">
      <div class="popup-header">
          <button data-close-button class="close-button">&times;</button>
          <div class="title choose-friend-headline">Choose friends to add:</div>
          <div class="input-data container">
            <div class="row justify-content-center">
              <input type="text" class="form-control my-3 invitation-bar" placeholder="Username/Email">
              <input type="text" class="form-control my-3" id="clashId" placeholder="clash id" style="display: none;" readonly>
              <div style="display: flex; justify-content: space-between; margin-top: 1em;">
                <a data-target-see="#see-all" style="text-decoration: none; color: grey; cursor: pointer;">See All</a>
                <button style="width: 4em;" onclick="send(this)"> Send </button>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-6 searchResultsContainer removeMe">
            <div class="searchResults">
              <ul class="searchResults-list"></ul>
            </div>
          </div>
      </div>
    </div>

    <div class="career-popup" id="see-all">
      <div class="popup-header">
          <button data-close-button-follow class="close-button">&times;</button>
          <div class="select-followers">
              <div class="follower-title">Your Followers</div>
              <% if(followersData.length){ %>
                <button id="select-all" class="select-all" onclick="selectAll()">Select All</button>
              <% } %> 
          </div>
      </div>
      <div class="popup-body">
        <% if(!followersData.length){ %>
          <h5 style="display: flex; justify-content: center; margin-top: 10px;">No followers</h5>
        <% } else { %>
          <% followersData.forEach((follower, index) => { %>
            <div data-select=".selected" onclick="select(this, parseInt('<%= index + 1 %>'))" class="row">
              <div class="col-3">
                <img src="/image/<%= follower.profilePic %>" alt="profile pic" class="suggested-profile">
              </div>
              <div class="col-6">
                <div class="user-info">
                  <p id="<%= index + 1 %>"><%= follower.username %> </p>
                  <p class="user-email"><%= follower.email %> </p>
                </div>
              </div>
              <div class="col-3 selected">
                <i class=" far fa-check-square"></i>
              </div>
            </div>
          <% }) %> 
        <% } %>          
      </div>
    </div>

    <!-- OVERLAY -->
    <div id="overlay"></div>

    <!-- POPUP END  -->

    <%- include("../BottomNavmodule/bottomnavbar") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
      </script>
    <script src="/js/Careermodule/admincontrols.js"></script>
    <script src="/js/Careermodule/careerPopup.js"></script>
  </body>   
</html>
