<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>challenge page</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css">
        <!-- <link rel="stylesheet" href="/css/Profilemodule/profile.css">  -->

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/ClashDetailsmodule/clashDetails.css">
  </head>
  <body>
		
    <div class="head">
        <div id="backdiv">
            <img onclick="window.location.href='/links'" id="back" style="width: 20px; cursor: pointer;"
                src="/img/backarrow.png" alt="back">
        </div>
        <div id="exclamation">
            <img style="width: 1.3em; cursor: pointer;" onclick="window.location.href='/clashDetails/reportClash/<%= clash._id %>'" 
                src="/img/exclamation.png" alt="exclamation">
        </div>
        <div id="headdiv">
            <p id="heading" style="margin-bottom: 0;">Clash Details</p>
        </div>
    </div>

    <div class="container" style="margin-bottom: 5em !important;">
        <div class="details">
            <p class="clash-details" style="margin-bottom: 5px;">Video By <b> <%= video.username %>  </b> </p>
            <a data-target="#popup-suggest-clash" class="btn btn-light br1" tabindex="-1" role="button" aria-disabled="true">
                <p id="p1">Suggest Clash</p>
            </a data-target='#popup-suggest-clash'>
        </div>
            
        <div class="container" style="margin-top: 1rem;">
            <div class="row">
                <div class="col" style="margin-top: 1.6em;">
                    <div class="clash-details">
                        <p style="margin-bottom: 0; font-size: .9rem; color: #747474;">Started By</p>
                        <p style="font-size: 1.3em;" id="username"><%= user.username %> </p>
                    </div>
                    <div class="clash-details">
                        <p style="margin-bottom: 0; font-size: .9rem; color: #747474;">When</p>
                        <p style="font-size: 1.3em;"><%= new Date(clash.startDate).toLocaleDateString('en-GB', { timeZone: 'UTC' }) %> </p>
                    </div>
                </div>
                <div class="col" id="div1">
                    <img src="<%= user.profilePic %>" id="img1">
                    <div style="text-align: center;">
                        <a href="#" style="padding: .2rem 1.5rem;" class="btn btn-light btn1" tabindex="-1" 
                            role="button" aria-disabled="true">
                            <p onclick="follow(this)" id="p1"><%= isFollowed ? "Unfollow" : "Follow" %></p>
                        </a>
                    </div>
                    <div style="text-align: center;">
                        <a href="/clashDetails/profile/<%= user.username %>" class="btn btn-light btn1" tabindex="-1" role="button" aria-disabled="true" onclick="openProfile()">
                            <p id="p1">Open Profile</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 1rem; padding-left: 1rem;">
            <p id="p4">Clash Details</p>
            <p id="p5"><%= clash.description %> </p>
        </div>
        <hr>
        <div class="container" style="margin-bottom: 10px; margin-top:5px;">
            <div class="row">
                <div class="col-3" style="padding:0px !important;">
                    <h6 class="rp2"><%= video.views ? video.views : '0' %> </h6>
                    <p class="rp1">Total Views</p>
                </div>
                <div class="col-3" style="padding:0px !important;">
                    <h6 class="rp2"><%= video.likes.length %> </h6>
                    <p class="rp1">Likes</p>
                </div>
                <div class="col-3" style="padding:0px !important;">
                    <h6 class="rp2"><%= video.rank ? video.rank : '0' %> </h6>
                    <p class="rp1">Rank</p>
                </div>
                <div class="col-3" style="padding:0px !important;">
                    <h6 class="rp2"><%= participants.length %> </h6>
                    <p class="rp1">Participants</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row comment-header">
                <!-- <div class="col-1"></div> -->
                <div class="col">
                    <p style="color: #747474; font-size: .8rem;">Comments(<%= video.comments.length %>)</p>
                </div>
                <!-- <div class="col-5"></div> -->
                <div class="col" style="display: flex; justify-content: flex-end;">
                    <a href="/clashDetails/comments/<%= video._id %>" style="font-size: .8rem;" class="a1" onclick="seeAllComments()">
                        See All&nbsp;&nbsp;<i class="fas fa-angle-right"></i> 
                    </a>
                </div>
            </div>
        </div>
        
        <% if(!comments.length){ %>
            <h5 style="display: flex; justify-content: center;">No Comments</h5>
        <% } else { %>
            <div class="comments container">
                <% comments.forEach((comment, index) => { %>
                    <% if(index < 4) { %>
                        <div class="row mb">
                        <img src="<%= comment.profilePic %>" class="img2">
                        <div class="col">
                            <p id="p7"><%= comment.c.username %> (<%= new Date(comment.c.time).toDateString() %>)</p>
                            <p id="p8"><%= comment.c.message %> </p>
                            <p id="p9"><%= new Date(comment.c.time).toTimeString().slice(0, 8) %></p>
                            <p id="p10" type="button" data-bs-toggle="modal" data-user="<%= comment.c.username %>" 
                                data-comment='<%= comment.c._id %>' data-bs-target="#sub-comment" onclick="comment(this)">
                                Reply
                            </p>
                        </div>
                    </div>
                    <% } %> 
                <% }) %>
            </div>
        <% } %> 
        <hr>
        <div class="container">
            <div class="row participants">
                <!-- <div class="col-1"></div> -->
                <div class="col">
                    <p style="color: #747474; font-size: .8rem;">List of Participants (<%= participants.length %>)</p>
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col" style="display: flex; justify-content: flex-end;">
                    <a href="/clashDetails/participants/<%= clash._id %>" style="font-size: .8rem;" class="a1" onclick="seeAllParticipants()">
                        See All&nbsp;&nbsp;<i class="fas fa-angle-right"></i> 
                    </a>
                </div>
            </div>
        </div>
        
        <% if(!participants.length){ %>
            <h5 style="display: flex; justify-content: center;">No Participants</h5>
        <% } else { %>
            <div class="container last">
                <div class="row">
                    <% participants.forEach(p => { %>
                        <div class="col">
                            <img src="<%= p.profilePic %>">
                            <p class="p11"><%= p.username %></p>
                        </div>
                    <% }) %> 
                </div>
            </div>
        <% } %> 
    </div>

    <!-- POPUP SECTION -->

    <!-- sub-comment modal start -->
    <div class="modal fade" id="sub-comment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave a comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/clashDetails/subComment/<%= video._id %>" method="POST">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input style="border: .5px solid;" type="text" name="toUser" class="form-control" id="to"
                                placeholder="Username" readonly required>
                            <label for="to">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input style="border: .5px solid; display: none;" type="text" name="toComment"
                                class="form-control" id="toc" placeholder="Username" readonly required>
                            <label for="to">Comment</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input style="border: .5px solid;" type="text" class="form-control" name="comment" id="comment"
                                placeholder="add comment..." required>
                            <label for="comment">Add Comment</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- sub-comment modal end -->

    <div class="popup" id="popup-suggest-clash">
        <div class="popup-header">
            <button data-close-button class="close-button">&times;</button>
            <div class="title">Suggest Profile <p>that should be activated</p> </div>
            <div class="input-data container">
                <div class="row justify-content-center">
                    <input type="search" class="form-control my-3" placeholder="Enter email">
                    <div style="display: flex; justify-content: flex-end; margin-top: 1em;">
                        <button style="width: 5em;" onclick="send(this)"> Send </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-body" style="height: 220px; overflow-y: auto;">
            <div class="suggested">
                Suggested
                <div class="row profiles">
                    <% for(var i=0; i<5; i++){ %>
                        <%- include("../partials/userimg") %>
                    <% } %> 
                    <div class="suggested-friends col">
                        <button class="see-all-button" data-target="#see-all" >
                            <img src="/img/see-all-user.png" alt="profile" class="suggested-profile">
                            <p class="see-all-users">See All ></p>
                        </button>
                         
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="popup" id="see-all">
        <div class="popup-header">
            <button data-close-button-follow class="close-button">&times;</button>
            <div class="select-followers">
                <div class="follower-title">Your Followers</div>
                <button  id="select-all" class="select-all" onclick="selectAll()">Select All</button>
            </div>
        </div>
        <div class="popup-body">
            <% for(var i = 0; i<4; i++){ %>
                <%- include("../partials/followers") %>
           <% } %>
            
        </div>
    </div>

      <!-- OVERLAY -->
      <div id="overlay"></div>


	<%- include("../BottomNavmodule/bottomnavbar") %>

  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="/js/ClashDetailsmodule/clashDetails.js"></script>
  <script src="/js/ClashDetailsmodule/clash.js"></script>
</html>
