<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>feedhome page</title>

    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/BottomNavmodule/bottomnavbar.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/Feedhomemodule/style_hh.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script type="text/javascript" src="/js/Authmodule/common.js"></script>
    <script type="text/javascript" src="/js/Feedmodule/feedhome.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/2635296004.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="feedhomepage">
      <div class="container" style="margin-top: 10px; margin-bottom: 10px">
        <div class="row">
          <div class="col-3 jcc">
            <img src="img/logo.png" />
          </div>
          <div class="col-6 jcc">
            <img src="img/happyclash.png" />
          </div>
          <div class="col-3 jcc">
            <img src="img/profile.png" />
          </div>
        </div>
      </div>

      <div class="row clashtypediv">
        <div class="col-6 publicdiv">
          <button
            class="btn btn-light clashtype"
            id="public"
            onclick="changeColor()"
          >
            Public Clash
          </button>
        </div>
        <div class="col-6 friendsdiv">
          <button
            class="btn btn-light clashtype"
            id="friends"
            onclick="changeColor()"
          >
            Friends Clash
          </button>
        </div>
      </div>

      <div class="container" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group has-feedback"></div>
        <form action="#" method="POST" id="bor">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="fas fa-search" id="searchicon"></i
            ></span>
            <input
              class="form-control"
              type="search"
              placeholder="Search clashes around the world"
              id="inputSuccess2"
            />
          </div>
        </form>
      </div>
    </div>

    <%let recommend = ['Songs','Art','Singing','Dance','Jokes','Acting'];%>
    <%console.log(recommend[Math.floor(Math.random()*6)])%>
    <div class="row badgesdiv">
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col badges">
        <a href="#"
          ><span class="badge bg-light" onclick="badgeClick(this)"
            ><%=recommend[Math.floor(Math.random()*recommend.length)]%></span
          ></a
        >
      </div>
      <div class="col-1" id="redisplaydiv">
        <img src="/img/redisplay.png" alt="" id="redisplay" />
      </div>
    </div>

    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide mt"
      style="margin-bottom: 100px"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="36000000">
          <div class="row" style="margin: 10px 0px">
            <div class="col-2 jcc">
              <img src="img/profile.png" id="car1" />
            </div>
            <div
              class="col-6"
              id="profiletitle"
              style="text-align: start; padding-left: 20px"
            >
              <div>Alex Benjamin</div>
              <div class="fontsize">Hi i am a dancer</div>
            </div>
            <div class="col-4" id="timeleft">
              <%let d = new Date();%> <%d.setHours(3)%> <%d.setMinutes(40)%>
              <img src="/img/carbon_time.png" alt="" />
              <%=JSON.stringify(d.getHours())+"h " +
              JSON.stringify(d.getMinutes()) + "m"%>
            </div>
          </div>
          <div id="profilevideo">
            <img
              class="vid"
              style="height: 70vh; position: relative"
              src="https://s3-alpha-sig.figma.com/img/6ef4/0d39/15190984843b6f0f3e0980aee083e327?Expires=1620604800&Signature=GaOVP7v3NBVDnjKmU~n73B8Y~QG051XzJ-TadufITgk88tiCZkdRdYnnl0b2mfV8jav0huMbnkXsgA-WfyyadpzgSezvInmC-oLFfvRshs-hh0Uovx8Vnu06VdmyQHdr5gz2zhzinlQIC-1yzaURMoEeUuArhHCMZzK3DqUBG2trXAYfGKrx9ryEBLoMeDYDu2LXiV8~9Vu7gJoDhG1MW0w~uaH3mBtwXH10R0SoI~BmcYPcZ52JP6VgtJCQToH6vFAJrUDPJcFtJzP-LXKWRBSARSyfHKepBrLnP7wfog10lvephcQ6Xv~~Gt37bApg9Xno-R1DcvTkLNe2bPzrIg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
              alt="Img"
            />
            <div
              style="
                position: absolute;
                top: 10px;
                right: 30px;
                font-size: 0.8rem;
                color: white;
              "
            >
              1:20
            </div>
            <div
              style="
                position: absolute;
                bottom: 70px;
                left: 30px;
                font-size: 1.7rem;
                background: -webkit-linear-gradient(
                  45deg,
                  #924bec,
                  #e552c4,
                  #ffbf7b
                );
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              "
            >
              Dance Challenge
            </div>
            <div
              style="
                position: absolute;
                bottom: 50px;
                left: 30px;
                font-size: 0.8rem;
                color: white;
              "
            >
              Started by John doe
            </div>
            <div
              style="
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -100%);
              "
            >
              <img
                src="/img/Play.svg"
                width="50"
                height="50"
                onclick="console.log(this)"
              />
            </div>
            <div
              style="
                position: absolute;
                bottom: 10px;
                left: 30px;
                right: 30px;
                display: flex;
                font-size: 0.8rem;
                justify-content: space-between;
                color: white;
              "
            >
              <div>96 Likes</div>
              <div>40 Comments</div>
              <div>20 Participants</div>
            </div>
            <!-- <video
              class="vid"
              poster="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190710102234/download3.png"
            >
              <source src="/img/sample.mp4" type="video/mp4" />
            </video> -->
          </div>
        </div>
      </div>
      <div
        class="my-4"
        style="
          background-color: blue;
          height: 100px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
        "
      >
        ShopVille
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="36000000">
          <div class="row" style="margin: 10px 0px">
            <div class="col-2 jcc">
              <img src="img/profile.png" id="car1" />
            </div>
            <div
              class="col-6"
              id="profiletitle"
              style="text-align: start; padding-left: 20px"
            >
              <div>Alex Benjamin</div>
              <div class="fontsize">Hi i am a dancer</div>
            </div>
            <div class="col-4" id="timeleft">
              <%d.setHours(3)%> <%d.setMinutes(40)%>
              <img src="/img/carbon_time.png" alt="" />
              <%=JSON.stringify(d.getHours())+"h " +
              JSON.stringify(d.getMinutes()) + "m"%>
            </div>
          </div>
          <div id="profilevideo">
            <img
              class="vid"
              style="height: 70vh; position: relative"
              src="https://s3-alpha-sig.figma.com/img/6ef4/0d39/15190984843b6f0f3e0980aee083e327?Expires=1620604800&Signature=GaOVP7v3NBVDnjKmU~n73B8Y~QG051XzJ-TadufITgk88tiCZkdRdYnnl0b2mfV8jav0huMbnkXsgA-WfyyadpzgSezvInmC-oLFfvRshs-hh0Uovx8Vnu06VdmyQHdr5gz2zhzinlQIC-1yzaURMoEeUuArhHCMZzK3DqUBG2trXAYfGKrx9ryEBLoMeDYDu2LXiV8~9Vu7gJoDhG1MW0w~uaH3mBtwXH10R0SoI~BmcYPcZ52JP6VgtJCQToH6vFAJrUDPJcFtJzP-LXKWRBSARSyfHKepBrLnP7wfog10lvephcQ6Xv~~Gt37bApg9Xno-R1DcvTkLNe2bPzrIg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
              alt="Img"
            />
            <div
              style="
                position: absolute;
                top: 10px;
                right: 30px;
                font-size: 0.8rem;
                color: white;
              "
            >
              1:20
            </div>
            <div
              style="
                position: absolute;
                bottom: 70px;
                left: 30px;
                font-size: 1.7rem;
                background: -webkit-linear-gradient(
                  45deg,
                  #924bec,
                  #e552c4,
                  #ffbf7b
                );
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              "
            >
              Dance Challenge
            </div>
            <div
              style="
                position: absolute;
                bottom: 50px;
                left: 30px;
                font-size: 0.8rem;
                color: white;
              "
            >
              Started by John doe
            </div>
            <div
              style="
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -100%);
              "
            >
              <img
                src="/img/Play.svg"
                width="50"
                height="50"
                onclick="console.log(this)"
              />
            </div>
            <div
              style="
                position: absolute;
                bottom: 10px;
                left: 30px;
                right: 30px;
                display: flex;
                font-size: 0.8rem;
                justify-content: space-between;
                color: white;
              "
            >
              <div>96 Likes</div>
              <div>40 Comments</div>
              <div>20 Participants</div>
            </div>
            <!-- <video
              class="vid"
              poster="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20190710102234/download3.png"
            >
              <source src="/img/sample.mp4" type="video/mp4" />
            </video> -->
          </div>
        </div>
      </div>
    </div>

    <% let url = '/homefeed'%> <%- include("../BottomNavmodule/bottomnavbar") %>
  </body>
</html>
